name: train-my-model
on: [push]
jobs:
  train:
    runs-on: [self-hosted, cml, gpu]
    steps:
      - uses: actions/checkout@v2
      - name: cml_run
        run: |
          echo 'Hi from CML!' >> report.md
          cml send-comment report.md
